<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :userName, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :userName, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :passWord, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :passWord, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telephone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telephone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qqNum, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qqNum, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :profile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :profile, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :signature, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :signature, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birthday, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthday, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :score, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :level, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :articleId, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :articleId, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :adminemail, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :adminemail, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :encrypted_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :encrypted_password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_password_token, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reset_password_token, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_password_sent_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :reset_password_sent_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :remember_created_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :remember_created_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sign_in_count, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :sign_in_count, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_sign_in_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :current_sign_in_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_sign_in_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :last_sign_in_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_sign_in_ip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_sign_in_ip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_sign_in_ip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_sign_in_ip, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                article_path, :class => 'btn' %>
  </div>
<% end %>
